config HCT_FINGERPRINT_SUPPORT
  bool "HCT_FINGERPRINT_SUPPORT"
  default n

source "drivers/misc/mediatek/fingerprint/gf3208_goodix/Kconfig"
source "drivers/misc/mediatek/fingerprint/cs15xx/Kconfig"
source "drivers/misc/mediatek/fingerprint/gfx1xm/Kconfig"
source "drivers/misc/mediatek/fingerprint/sunwave9551_fp/Kconfig"
source "drivers/misc/mediatek/fingerprint/goodix_gf5216/Kconfig"
source "drivers/misc/mediatek/fingerprint/microarray_v4.0.01/Kconfig"
source "drivers/misc/mediatek/fingerprint/sunwavecorp/Kconfig"
